{% load static %}
<!DOCTYPE html>
<html lang="de-CH">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link href="{% static 'assets/css/bootstrap.css'%}" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
<link href="{% static 'assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
<link href="{% static 'assets/css/style.css'%}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!--START META DATA PAGE DESCRIPTION-->
<meta name="Author" content="Calmar Solutions Schweiz - Erin McGowan - www.calmarsolutions.ch">
<meta name="Copyright" content="Calmar Solutions">
<meta name="Credit" content="https://thenounproject.com/">
<meta name="description" content="Margs Surfcamp Margaret River">
<meta name="keywords" content="Surfing, Camping, Margaret River, Western Australia">
<!--END META DATA PAGE DESCRIPTION-->
<title>commath</title>
</head>
<body>
<a href="#top"><img class="arrow_image" src="./images/004.png"></a>
<a name="top"></a>



{% block content %}
{% endblock  %}
